/*Do not allow the div to take up more or less then the entirety of the viewport*/
#root > div {
  text-align: center;
  width:100vw;
  overflow: hidden;
}

/*hiding the labels next to the polar charts, tooltip gives needed info*/

tspan {
  display:none;
}

/*this is to select the text within the recharts to alter the default font*/

div.chart.alcohol > div {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

div.chart > div {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*button creation, use for left and right: ◀ and ▶, use http://css3buttongenerator.com*/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1em;
  color: #ffffff;
  font-size: 1em;
  padding: .5em 1em .5em 1em;
  margin: .5em;
  border: solid #1f628d .2em;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
